v.1.0.0/ParentsRules/appsettings.json
v.1.0.0/ParentsRules/appsettings.Development.json
v.1.0.0/ParentsRules/appsettings.Production.Development.json
v.1.0.0/ParentsRules/appsettings.Production.json
v\.1\.0\.0/\.vs/config/

v\.1\.0\.0/ParentsRules/Properties/

v\.1\.0\.0/ParentsRules/bin/

v\.1\.0\.0/ParentsRules/obj/

v\.1\.0\.0/\.vs/

v\.1\.0\.0/ParentsRules/Data/Migrations/
