@model ParentsRules.Models.ManageViewModels.IndexViewModel


<h4>Create a request to an administrator</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <!-- Shows people who are associated with this account.-->
            <div class="form-group">
                <label asp-for="Email"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AssociatedUserFirstName"></label>
                <input asp-for="AssociatedUserFirstName" class="form-control" />
                <span asp-validation-for="AssociatedUserFirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AssociatedUserLastName"></label>
                <input asp-for="AssociatedUserLastName" class="form-control" />
                <span asp-validation-for="AssociatedUserLastName" class="text-danger"></span>
                <button asp-action="SendFriendRequest" class="btn btn-link">Send registration request for a new administartor</button>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

